<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suyash.tastry">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user_or_workerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".user_or_workerActivity"/>
        <activity android:name=".SignUpActivity"
            android:label="Sign Up"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/select_date"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Breakfast_lunch_dinner"
            android:parentActivityName=".NavigationDrawerActivity"/>
        <activity
            android:name=".MemberLogin"
            android:label="Sign in"
            android:parentActivityName=".user_or_workerActivity"/>
        <activity
            android:name=".MemberPersonalInfo"
            android:label="@string/select_date"
            android:parentActivityName=".user_or_workerActivity"/>
        <activity android:name=".memberBraekfastLunchDinner"
            android:parentActivityName=".MemberPersonalInfo"/>
        <activity
            android:name=".MemberUpload"
            android:label="Upload food options"
            android:parentActivityName=".memberBraekfastLunchDinner"/>
        <activity
            android:name=".MemberResult"
            android:label="Polling Results"
            android:parentActivityName=".MemberUpload"/>
        <activity
            android:name=".VotingActivity"
            android:label="Poll"
            android:parentActivityName=".Breakfast_lunch_dinner"/>
        <activity android:name=".StudentResult"
            android:label="Responses submitted successfully"
            android:parentActivityName=".VotingActivity">

        </activity>
    </application>

</manifest>